<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smoothies API</title>
</head>
<body>
    <h1>Current Smoothies</h1>
    <ul class="smoothies">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="smoothie">
            <span><%= info[i].name %></span>
            <span><%= info[i].liquid %></span>
            <span><%= info[i].protein %></span>
            <span><%= info[i].fruit %></span>
            <span><%= info[i].spread %></span>
            <span><%= info[i].carbs %></span>
            <span><%= info[i].fats %></span>
            <span><%= info[i].extra %></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <h1>Add Smoothie</h1>
    <form action="/addSmoothie" method="POST">
        <input type="text" placeholder="Name of Smoothie" name="name">
        <input type="text" placeholder="Liquid" name="liquid">
        <input type="text" placeholder="Protein" name="protein">
        <input type="text" placeholder="Fruit" name="fruit">
        <input type="text" placeholder="Spread" name="spread">
        <input type="text" placeholder="Carbs" name="carbs">
        <input type="text" placeholder="Fats" name="fats">
        <input type="text" placeholder="Extras" name="extra">
        <input type="submit">
    </form>


</body>
</html>